#
# This file is part of LCCS-DB.
# Copyright (C) 2022 INPE.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/gpl-3.0.html>.
#

exclude docs/spec
exclude docs/sphinx/_build
include *.in
include *.rst
include *.sh
include *.txt
include *.py
include *.yml
include LICENSE
include pytest.ini
include alembic.ini
include migrations/README
recursive-exclude docs/spec *
recursive-exclude docs/sphinx/_build *
recursive-include docs/sphinx *.bat
recursive-include docs/sphinx *.css
recursive-include docs/sphinx *.ico
recursive-include docs/sphinx *.png
recursive-include docs/sphinx *.py
recursive-include docs/sphinx *.rst
recursive-include docs/sphinx *.xml
recursive-include docs/sphinx Makefile
recursive-include examples *.py
recursive-include examples *.sql
recursive-include examples *.qml
recursive-include examples *.sld
recursive-include lccs_db *.sql
recursive-include lccs_db *.mako
recursive-include lccs_db *.py
recursive-include migrations *.mako
recursive-include migrations *.py
recursive-include tests *.py
recursive-include tests *.sql