#
# This file is part of Land Cover Classification Database Model.
# Copyright (C) 2019-2020 INPE.
#
# Land Cover Classification Database Model is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.
#

exclude docs/spec
exclude docs/sphinx/_build
include *.in
include *.rst
include *.sh
include *.txt
include *.py
include *.yml
include LICENSE
include pytest.ini
include alembic.ini
include migrations/README
recursive-exclude docs/spec *
recursive-exclude docs/sphinx/_build *
recursive-include docs/sphinx *.bat
recursive-include docs/sphinx *.css
recursive-include docs/sphinx *.ico
recursive-include docs/sphinx *.png
recursive-include docs/sphinx *.py
recursive-include docs/sphinx *.rst
recursive-include docs/sphinx *.xml
recursive-include docs/sphinx Makefile
recursive-include examples *.py
recursive-include examples *.sql
recursive-include lccs_db *.sql
recursive-include lccs_db *.mako
recursive-include lccs_db *.py
recursive-include migrations *.mako
recursive-include migrations *.py
recursive-include tests *.py
recursive-include tests *.sql