#
# This file is part of Land Cover Classification Database Model.
# Copyright (C) 2019 INPE.
#
# Land Cover Classification Database Model is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.
#

exclude doc/sphinx/_build
include *.in
include *.rst
include *.sh
include *.txt
include *.py
include *.yml
include LICENSE
include pytest.ini
include alembic.ini
include migrations/README
recursive-exclude doc/sphinx/_build *
recursive-include doc *.bat
recursive-include doc *.css
recursive-include doc *.py
recursive-include doc *.rst
recursive-include doc Makefile
recursive-include examples *.py
recursive-include examples *.sql
recursive-include migrations *.mako
recursive-include migrations *.py
recursive-include spec *.xml
recursive-include tests *.py
